<p id="notice"><%= notice %></p>

<p>
  <strong>Last name,first name,address num,address street,cp,phone,birthday:</strong>
  <%= @athlete.last_name,first_name,address_num,address_street,CP,phone,birthday %>
</p>

<%= link_to 'Edit', edit_athlete_path(@athlete) %> |
<%= link_to 'Back', athletes_path %>
